<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Boholand deco home brinda textiles deco para tu hogar, trabajamos con fibras y géneros naturales isnpirados en decorazión Boho. Utilizamos hilos de algodón y yute, telas 100% algodón como tusor y lino. Así como también maderas de deriva recolectadas de la naturaleza. "
    />
    <meta
      name="keywords"
      content="MACRAME, HILOS, DECORACION, HOME, DECO, TEXTIL, BOHO, ESTILO BOHO"
    />
    <title>Boholand | Colección</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="fondo1"></div>
    <div class="fondo2"></div>
    <header class="barra w-100">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid justify-content-between">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul
              class="navbar-nav nav-fill align-items-center align-content-center"
            >
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./coleccion.html">Colección</a>
              </li>
              <li><h1 class="barra__titulo mt-4">Boholand</h1></li>
              <li class="nav-item">
                <a class="nav-link" href="./quienessomos.html">Quienes Somos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- articulos de la coleccion de boholand -->
      <section class="textocoleccion">
        <p class="textocoleccion__frase">Slow Deco & Boho</p>
        <p class="textocoleccion__frase">un estilo lleno de calma y armonía</p>

        <div class="textocoleccion__linea"></div>
      </section>

      <!-- galeria de imagenes de trabajo -->
      <!-- las imagenes de coleccion con boostrap -->
      <section
        class="imgcoleccion d-flex flex-column flex-md-row flex-wrap align-content-center justify-content-center"
      >
        <article class="imgcoleccion__producto">
          <p class="imgcoleccion__producto__num">01</p>
          <img
            class="imgcoleccion__producto__img"
            src="../multimedia/tapizmacrame.png"
            alt="tapiz"
          />
          <p class="imgcoleccion__producto__descripcion">
            Tapiz de macramé realizado con hilo 100% algodón y borlas de madera.
          </p>
        </article>
        <article class="imgcoleccion__producto">
          <p class="imgcoleccion__producto__num">02</p>
          <img
            class="imgcoleccion__producto__img"
            src="../multimedia/portasombreromarame.png"
            alt="portasombrero de macrame"
          />
          <p class="imgcoleccion__producto__descripcion">
            Portasombrero de macramé para pared.
          </p>
        </article>
        <article class="imgcoleccion__producto">
          <p class="imgcoleccion__producto__num">03</p>
          <img
            class="imgcoleccion__producto__img"
            src="../multimedia/lamparamacrame.png"
            alt="lampara de macrame"
          />
          <p class="imgcoleccion__producto__descripcion">
            Lámpara textil con técnica de macramé, crean calidez en el ambiente,
            son un trend en decoración.
          </p>
        </article>
        <article class="imgcoleccion__producto">
          <p class="imgcoleccion__producto__num">04</p>
          <img
            class="imgcoleccion__producto__img"
            src="../multimedia/astamacrame.png"
            alt="tapiz de macrame con asta de ciervo"
          />
          <p class="imgcoleccion__producto__descripcion">
            Tapiz de macramé con asta de ciervo de la Patagonia (ACLARACION! las
            astas son de desmogue: proceso que ocurre durante las últimas
            semanas de invierno en donde los venados se desprenden de sus
            cuernas).
          </p>
        </article>
        <article class="imgcoleccion__producto">
          <p class="imgcoleccion__producto__num">05</p>
          <img
            class="imgcoleccion__producto__img"
            src="../multimedia/driftwoodmacrame.png"
            alt="tapiz con madera de deriva"
          />
          <p class="imgcoleccion__producto__descripcion">
            Tapiz de macramé realizado con maderas de deriva.
          </p>
        </article>
        <article class="imgcoleccion__producto">
          <p class="imgcoleccion__producto__num">06</p>
          <img
            class="imgcoleccion__producto__img"
            src="../multimedia/ceramicamacrame.png"
            alt="ceramica con tejidos"
          />
          <p class="imgcoleccion__producto__descripcion">
            Colgantes de cerámica realizados a mano con hilos y tejidos de
            macramé.
          </p>
        </article>
      </section>
    </main>
    <footer
      class="pie d-flex flex-column flex-md-row justify-content-md-between align-items-center"
    >
      <a href="../index.html"
        ><img
          class="pie__imagen"
          src="../multimedia/rope.png"
          alt="soga macrame"
      /></a>

      <section class="pie__textos">
        <h3 class="pie__textos__frase">A collection of things we love</h3>
        <h6 class="pie__textos__firma">Design by Abb websites</h6>
      </section>
      <section class="pie__redes">
        <a href="https://www.instagram.com"
          ><i class="bi bi-instagram pie__redes__iconos"></i
        ></a>
        <a href="https://www.facebook.com"
          ><i class="bi bi-facebook pie__redes__iconos"></i
        ></a>
        <a href="https://www.whatsapp.com"
          ><i class="bi bi-whatsapp pie__redes__iconos"></i
        ></a>
      </section>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
