<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Boholand deco home brinda textiles deco para tu hogar, trabajamos con fibras y géneros naturales isnpirados en decorazión Boho. Utilizamos hilos de algodón y yute, telas 100% algodón como tusor y lino. Así como también maderas de deriva recolectadas de la naturaleza. "
    />
    <meta
      name="keywords"
      content="MACRAME, HILOS, DECORACION, HOME, DECO, TEXTIL, BOHO, ESTILO BOHO"
    />

    <title>Boholand | Contacto</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="fondo1"></div>
    <div class="fondo2"></div>
    <header class="barra w-100">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid justify-content-between">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul
              class="navbar-nav nav-fill align-items-center align-content-center"
            >
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./coleccion.html">Colección</a>
              </li>
              <li><h1 class="barra__titulo mt-4">Boholand</h1></li>
              <li class="nav-item">
                <a class="nav-link" href="./quienessomos.html">Quienes Somos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="d-flex flex-column align-items-center">
      <section class="contacto d-flex flex-column">
        <h3 class="contacto__titulo">hola!</h3>
        <p class="contacto__texto">
          Gracias por visitarnos, nos encantaría leerte. Sentite libre de
          hacernos cualquier consulta que con gusto te responderemos entre 24-48
          hs. Gracias!
        </p>
        <div
          class="contacto__informacion d-flex flex-column flex-sm-row justify-content-around"
        >
          <p class="contacto__informacion__items">
            Boholand all rights reserved
          </p>
          <p class="contacto__informacion__items">Santa Fe, Argentina</p>
          <p class="contacto__informacion__items">boholand.shop@outlook.com</p>
        </div>
        <form action="#" class="contacto__formulario" method="post">
          <div class="row">
            <div class="col-6">
              <input
                type="text"
                name="nombre"
                placeholder="NOMBRE"
                class="contacto__formulario__input"
              />
            </div>
            <div class="col-6">
              <input
                type="text"
                name="apellido"
                placeholder="APELLIDO"
                class="contacto__formulario__input"
              />
            </div>
          </div>
          <input
            type="email"
            name="email"
            placeholder="EMAIL"
            class="contacto__formulario__input"
          />
          <textarea
            name="consulta"
            id="consulta"
            cols="30"
            rows="10"
            placeholder="ESCRIBINOS TU CONSULTA"
            class="contacto__formulario__consulta"
          ></textarea>
          <input
            type="button"
            value="ENVIAR"
            class="contacto__formulario__boton"
          />
        </form>
      </section>
    </main>
    <footer
      class="pie d-flex flex-column flex-md-row justify-content-md-between align-items-center"
    >
      <a href="../index.html"
        ><img
          class="pie__imagen"
          src="../multimedia/rope.png"
          alt="soga macrame"
      /></a>

      <section class="pie__textos">
        <h3 class="pie__textos__frase">A collection of things we love</h3>
        <h6 class="pie__textos__firma">Design by Abb websites</h6>
      </section>
      <section class="pie__redes">
        <a href="https://www.instagram.com"
          ><i class="bi bi-instagram pie__redes__iconos"></i
        ></a>
        <a href="https://www.facebook.com"
          ><i class="bi bi-facebook pie__redes__iconos"></i
        ></a>
        <a href="https://www.whatsapp.com"
          ><i class="bi bi-whatsapp pie__redes__iconos"></i
        ></a>
      </section>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
