<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Boholand deco home brinda textiles deco para tu hogar, trabajamos con fibras y géneros naturales isnpirados en decorazión Boho. Utilizamos hilos de algodón y yute, telas 100% algodón como tusor y lino. Así como también maderas de deriva recolectadas de la naturaleza. "
    />
    <meta
      name="keywords"
      content="MACRAME, HILOS, DECORACION, HOME, DECO, TEXTIL, BOHO, ESTILO BOHO"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>Boholand | Nosotros</title>
  </head>
  <body>
    <div class="fondo1"></div>
    <div class="fondo2"></div>
    <header class="barra w-100">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid justify-content-between">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul
              class="navbar-nav nav-fill align-items-center align-content-center"
            >
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./coleccion.html">Colección</a>
              </li>
              <li><h1 class="barra__titulo mt-4">Boholand</h1></li>
              <li class="nav-item">
                <a class="nav-link" href="./quienessomos.html">Quienes Somos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="nosotros row justify-content-md-end justify-content-center">
        <div class="col-8 col-md-3">
          <article class="nosotros__carousel">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="../multimedia/quienessomos.png"
                    class="d-block w-100"
                    alt="quienes somos"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="../multimedia/nosotros.jpg"
                    class="d-block w-100"
                    alt="nosotros"
                  />
                </div>
              </div>
            </div>
          </article>
      </div>
      <div class="col-12 col-md-6">
        <article class="nosotros__descripcion">
          <div class="nosotros__descripcion__linea"></div>
          <h3 class="nosotros__descripcion__titulo"> Nosotras</h3>
          <p class="nosotros__descripcion__texto">Boholand comenzó con nuestro amor por los textiles y el estilo boho.<br>
            Este estilo se diferencia por sus colores, tramas y materiales, para
            crear espacios cálidos y muy personalizados, es un estilo libre,
            desestructurado. <br>
            Dos amigas unidas por el amor a la deco, con carreras
            y ocupaciones distintas al área, pero completamente amantes del diseño
            interior. Ful convencidas de la deco low cost. Sabemos y creemos que
            para tener una casa bonita no es necesario gastar miles, una
            combinación de pequeños objetos realzan la totalidad del ambiente. <br>
            El estilo boho es NATURALEZA: madera, cuero, fibras vegetales, textiles
            de algodón, plantas, detalles de cristal, cerámica. Lo natural nunca
            falta. <br>
            Es por esto que acá vas a encontrar todo eso y mucho más.
            Acompañanos que con nuestras manos creamos esos objetos únicos para tu
            hogar.</p>
        </article>
      </div>
      </section>
    </main>
    <footer
      class="pie d-flex flex-column flex-md-row justify-content-md-between align-items-center"
    >
      <a href="../index.html"
        ><img
          class="pie__imagen"
          src="../multimedia/rope.png"
          alt="soga macrame"
      /></a>

      <section class="pie__textos">
        <h3 class="pie__textos__frase">A collection of things we love</h3>
        <h6 class="pie__textos__firma">Design by Abb websites</h6>
      </section>
      <section class="pie__redes">
        <a href="https://www.instagram.com"
          ><i class="bi bi-instagram pie__redes__iconos"></i
        ></a>
        <a href="https://www.facebook.com"
          ><i class="bi bi-facebook pie__redes__iconos"></i
        ></a>
        <a href="https://www.whatsapp.com"
          ><i class="bi bi-whatsapp pie__redes__iconos"></i
        ></a>
      </section>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
