.nosotros {
  margin-top: 5rem;
  font-size: 1rem;
  &__carousel {
  }
  &__descripcion {
    padding-right: 10em;
    padding-left: 7em;
    padding-top: 3em;
    &__linea {
      width: 15em;
      height: 1px;
      background-color: #434343;
      position: absolute;
      transform: translate(-100%, 2em);
    }
    &__titulo {
      font-family: "Yeseva One", cursive;
      font-size: 3em;
      z-index: 20;
    }
    &__texto {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width: 768px) {
  .nosotros {
    margin-top: 3;

    &__descripcion {
      &__linea {
        display: none;
      }
      &__titulo {
        font-size: 2em;
      }
      &__texto {
        font-size: 1.2em;
      }
    }
  }
}
